@charset "ISO-8859-1";
   * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #F5F7FA;
        }
        .container {
            display: flex;
            height: 100vh;
        }
        
        .sidebar {
            width: 80px;
            background-color: #F0F3F8;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            border-radius: 0 10px 10px 0;
            margin-left: -58px;
        }
        .sidebar img {
            width: 100%;
            border-radius: 50%;
            margin-bottom: 20px;
        }
        .sidebar .icon {
            font-size: 24px;
            color: #4338CA;
            margin: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .sidebar .icon:hover {
            background-color: #E0E7FF;
        }

       
        .main-content {
            flex-grow: 1;
            background-color: #FFF;
            border-radius: 10px;
            margin: 20px;
            padding: 20px;
        }

        
        .search-bar {
            display: flex;
            justify-content: flex-start;
            padding: 10px;
        }

        .search-bar input {
            width: 200px;
            padding: 10px;
            border-radius: 20px;
            border: 1px solid #ddd;
        }